name: Daily Build
# build and tweet
on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '0 */2 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6.2.0
      with:
        python-version: 3.14
    - uses: actions/cache@v5
      name: Configure pip caching
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install Python dependencies
      run: |
        python -m pip install -r requirements.txt
    - name: Update README
      run: |-
        python 'python/get_blog_posts.py'
        cat README.md
    - name: Commit and push if README changed
      run: |-
        git diff
        git config --global user.email "actions@users.noreply.github.com"
        git config --global user.name "GitHub Actions"
        git diff --quiet || (git add README.md && git commit -m "Updated README")
        git push
