name: Lighting
on: [pull_request, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6.2.0
      with:
        python-version: 3.8
    - uses: actions/cache@v5
      name: Configure pip caching
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install Python dependencies
      run: |
        python -m pip install -r requirements.txt
    - name: update lights
      env:
          IFTTT_URL: ${{ secrets.TOGGLE_IFTTT_HUE_GO }}
      run: python 'python/update_lights.py'


