---
name: Scheduled
on:
  workflow_dispatch:
  schedule:
  - cron: "35 22 28 8 *"

jobs:
  create_issue:
    name: Create scheduled issue
    runs-on: ubuntu-latest
    steps:

      # Repo code checkout required if `template` is used
      - name: Checkout
        uses: actions/checkout@v6

      - name: issue-bot
        uses: imjohnbo/issue-bot@v3.3
        with:
          assignees: "MatBenfield"
          labels: "ToDo"
          # assignees & labels in the template are overridden by the values specified in this action
          template: ".github/ISSUE_TEMPLATE/scheduled.md"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
